
.active{
    background:rgb(92, 92, 242);
    color:white;
    border-radius: 2rem;
}

.back{
    background-image: url("https://i.pinimg.com/1200x/32/7d/3b/327d3b1d497e1faf15c0a40c4f8e9ee7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%100%;
    font-family: Century Gothic;
    margin-bottom: 0%;
}
.a{
    text-align: center;
    color:greenyellow
}
.isntactive{
    background:greenyellow;
    color:white;
    border-radius: 2rem;
    display:inline-block
}